.site-footer{
  height: 390px;
  background-image: url("../../img/footer.png");
  background-repeat: no-repeat;
  background-position: calc(50% + 0px) -75px;
  background-size: 1263px,288px;



  &__site-footer-wrapper{
    display: flex;
    align-items: top;
    justify-content: space-between;
    list-style-type: none;
    padding: 100px 0px;
  }

}




.footer-logo{
  font-weight: 400;
  font-size: 45px;
  line-height: 63px;
  color: #FFFFFF;
}

.footer-list{
  list-style-type: none;
  &__footer-head{
    font-weight: 700;
    font-size: 18px;
    line-height: 149.8%;
    color: #FFFFFF;
  }

  &__footer-item-link{
    font-weight: 400;
    font-size: 18px;
    line-height: 149.8%;
    color: #FFFFFF;
    text-decoration: none;
  }
}

.second{
  text-align: right;
  padding-top: 22px;

  &__footer-text{
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 149.8%;
    color: #FFFFFF;
  }

  &__footer-social{
    text-decoration: none;
    margin-left: 20px;
  }
}

.footer-thanks{
  text-decoration: none;
  font-size: 28px;
  line-height: 39px;
  text-align: center;
  color: #000000;
  padding: 8px 20px;
  background-color: #fff;
  margin-left: 370px;
}


